@model PrinterListViewModel

@{
    ViewData["Title"] = "Printer List";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PrinterList.css" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function submitForm() {
            $.ajax({
                url: '@Url.Action("PrinterList", "Home")',
                type: 'GET',
                data: $('#filterForm').serialize(),
                success: function (result) {
                    $('#printerList').html($(result).find('#printerList').html());
                }
            });
        }
    </script>

    <script src="~/js/PrinterList.js"></script>
}


<div class="bg-info">
    <h1 class="container">Printer List</h1>
</div>



@* data-for attribute added to link header and data elements *@

<form id="filterForm" method="get" asp-action="PrinterList" class="container">
    <style>
        .fa-expand {
            cursor: pointer
        }
    </style>
    <table class="table responsive">
        <thead>
            <tr>
                <th></th>
                <th data-for="sku" class="d-none d-md-table-cell">
                    <div>@Html.DisplayNameFor(model => model.Filter.SKU)</div>
                    <input class="form-control" type="text" name="SKU" value="@Model.Filter.SKU" oninput="submitForm()">
                </th>
                <th data-for="title">
                    <div>@Html.DisplayNameFor(model => model.Filter.Title)</div>
                    <input class="form-control" type="text" name="Title" value="@Model.Filter.Title" oninput="submitForm()">
                </th>
                <th data-for="price">
                    <div>@Html.DisplayNameFor(model => model.Filter.Price)</div>
                    <input class="form-control" type="text" name="Price" value="@Model.Filter.Price" oninput="submitForm()">
                </th>
                <th data-for="buildVolume" class="d-none d-md-table-cell">
                    <div>@Html.DisplayNameFor(model => model.Filter.BuildVolume)</div>
                    <input class="form-control" type="text" name="BuildVolume" value="@Model.Filter.BuildVolume" oninput="submitForm()">
                </th>
                <th data-for="printerImage">
                    <div>@Html.DisplayNameFor(model => model.Filter.PrinterImage)</div>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="printerList">
         

            @for (int i = 0; i < Model.Printers.Count(); i++)
            {
                ThreeDPrinters item = Model.Printers.ElementAt(i);

                <tr class="@(i % 2 == 0 ? "odd" : "even")">
                    <td>
                        <input type="checkbox">
                        <i class="fa fa-expand d-md-none d-table-cell cursor-pointer"></i>
                    </td>
                    <td data-for="sku" class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.SKU)
                    </td>
                    <td data-for="title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td data-for="price">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td data-for="buildVolume" class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.BuildVolume)
                    </td>
                    <td data-for="printerImage">
                        <img class="image" src="@item.PrinterImage" alt="printer image">
                    </td>
                </tr>
                /*
                This is a child table that appears on mobile screens as a dropdown under each row
                */
                <tr class="child-table">
                    <td colspan="6">
                        <table>
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

