@model IEnumerable<ThreeDPrinters>

@{
    ViewData["Title"] = "Printer List";
}

<h1>PrinterList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrinterImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrinterImage)
            </td>
        </tr>
}
    </tbody>
</table>
