@model UserProfile

@{
    ViewData["Title"] = "J. Doe profile page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/UserProfile.css" />
}


<div id="page" class="d-flex">
    <div id="account-sidebar">
        <div id="logo" class="d-flex">
            <div class="img-container circle-frame">

                <img src="https://placehold.co/400x400" alt="Platform Logo">
            </div>
            <div>logo</div>
        </div>
        <nav>
            <div>
                <style>
                    #account-sidebar i {
                        margin-right: 10px;
                    }

                    #account-sidebar a {
                        text-decoration: none;
                    }
                </style>
                <a href="#"><i class="fa fa-home"></i>Home</a>
                <a href="#"><i class="fa fa-user"></i>Profile</a>
                <a href="#"><i class="fa fa-message"></i>Messages</a>
                <a href="#"><i class="fa fa-money-bill"></i>Purchases</a>
                <a href="#"><i class="fa-solid fa-person-walking-arrow-loop-left"></i>Returns</a>
                <a href="#"><i class="fa fa-image"></i>Gallery</a>
                <a href="#"><i class="fa fa-chart-simple"></i>Analytics</a>
                <a href="#"><i class="fa fa-cog"></i>Settings</a>
            </div>
            @* Home, profile, messages, purchases, returns, Gallery, Analytics, Settings *@
        </nav>
    </div>

    <main class="d-flex flex-column w-100">
        <style>

            #top-bar input {
                padding: 5px;
                margin-right: 10px;
            }
            #top-bar #profile-logo{
                /* A fix for the image was getting cut off (was 40px)*/
                height: 37px;
            }

        </style>
        <div id="top-bar" class="d-flex justify-content-between ui-background ui-margin ui-br">
            <input type="text" class="w-100" id="search" placeholder="Search" >
            <div id="profile-logo" class="circle-frame">
                <img src="https://placehold.co/400x400" alt="User Profile Image">
            </div>
        </div>
        <div class="position-relative ui-background ui-margin ui-br">

            <div id="hero-image-container" class="w-100 ">
                <img src="https://placehold.co/600x400" alt="Profile Hero Image" class="w-100">

            </div>
            <div>

                <div id="user-profile-image" class="circle-frame">
                    <img src="https://placehold.co/400x400" alt="User Profile Image">
                </div>
              
            </div>
            <header class="d-flex justify-content-between w-100 flex-wrap">
                <div id="user-info" class="">
                    <div id="username"> @Model.FullName</div>
                    <div id="user-title">[User title]</div>
                </div>
                <div id="header-actions-bar" class="d-flex justify-content-end mr-ui ">

                    <div id="profile-actions">
                        <button>comments</button>
                        <button>Follow</button>
                        <button>Schedule a meeting</button>

                    </div>
                </div>

            </header>
        </div>

        <style>
            /* This style is placed here to override _rebooot.scss with out use of !important */
            #main-content fieldset {
                all: revert;
                border-bottom: none;
                border-left: none;
                border-right: none;
                width: 100%;
            }

            #main-content legend {
                all: revert;
                font-weight: bold;
            }
        </style>

        <div id="main-content" class="d-flex w-100">
            <div id="about" class="d-flex flex-column align-items-center w-auto ui-background ui-margin ui-br" style="margin-right: 0;">
                <header>
                    <h4>About Section</h4>
                </header>


                <fieldset>
                    <legend> @Html.DisplayNameFor(model => model.UserProfileId)</legend>
                    @Model.UserProfileId
                </fieldset>
                <fieldset>
                    <legend>@Html.DisplayNameFor(model => model.FullName)</legend>
                    @Model.FullName
                </fieldset>

                <fieldset>
                    <legend>  @Html.DisplayNameFor(model => model.Email)</legend>
                    @Model.Email
                </fieldset>
                <fieldset>
                    <legend> @Html.DisplayNameFor(model => model.PhoneNumber)</legend>
                    @Model.PhoneNumber
                </fieldset>
                <fieldset>
                    <legend> @Html.DisplayNameFor(model => model.ImageUrl)</legend>
                    @Model.ImageUrl
                </fieldset>
                <fieldset>
                    <legend> @Html.DisplayNameFor(model => model.GitHubUrl)</legend>
                    @Model.GitHubUrl
                </fieldset>

                <fieldset>
                    <legend>Skilled Languages</legend>
                    <ul>
                        @foreach (string languageSkill in Model.SkilledLanguages)
                        {
                            <li>@languageSkill</li>
                        }
                    </ul>
                </fieldset>


            </div>
            <div id="feed-container" class="flex-grow-1 d-flex flex-column align-items-center ui-background ui-margin ui-br">
                <div id="feed-header">
                    <button>Followers</button>
                    <button>Following</button>
                    <button>Posts</button>
                </div>
                <div id="feed">
                    Feed item
                </div>
            </div>
            <div id="profile-sidebar" class="d-flex flex-column align-items-center w-25 mr-ui x">
                <div id="you-might-know" class="sidebar-section ui-background w-100 ui-margin mb-0 ui-br">
                    <header>You might know</header>
                    user Profile card
                </div>
                <div id="active" class="sidebar-section ui-background w-100 ui-margin ui-br">
                    <header>Active</header>
                    user Profile card
                </div>
            </div>
        </div>

    </main>

</div>



