@model UserProfile

@{
    ViewData["Title"] = "J. Doe profile page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/UserProfile.css" />
}

<h1>Profile Page</h1>

<div class="card userProfile">
    <div class="card-body front-of-card">
        <div class="d-flex justify-content-between">

            <h4>UserProfile</h4>

            <button class="btn btn-primary" onclick="event.target.closest('.userProfile').classList.toggle('flipped')">Flip me</button>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UserProfileId)
            </dt>
            <dd class="col-sm-9">
                @Model.UserProfileId
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-9">
                @Model.FullName
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Model.Email
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Model.PhoneNumber
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-sm-9">
                @Model.ImageUrl
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.GitHubUrl)
            </dt>
            <dd class="col-sm-9">
                @Model.GitHubUrl
            </dd>
            <dt>Skilled Languages</dt>
            <dd>
                <ul>
                    @foreach (string languageSkill in Model.SkilledLanguages)
                    {
                        <li>@languageSkill</li>
                    }
                </ul>
            </dd>
        </dl>
    </div>

    <div class="card-body back-of-card">

        <img class="w-100 h-100 backgroundCardImage"  src="~/backOfCard.svg"/>

        <button class="btn btn-primary position-absolute" style="top:14px; left: 14px;"onclick="event.target.closest('.userProfile').classList.toggle('flipped')">Flip me</button>

    </div>
</div>
