@model UserProfile

@{
    ViewData["Title"] = "J. Doe profile page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/UserProfile.css" />
}


<div id="page" class="d-flex">
    <div id="account-sidebar">
        <div id="logo" class="d-flex">
            <div class="img-container circle-frame">

                <img src="https://placehold.co/400x400" alt="Platform Logo">
            </div>
            <div>logo</div>
        </div>
        <nav>
            <div>
                <a href="#"><i>icon</i> Home</a>
                <a href="#"><i>icon</i> Profile</a>
                <a href="#"><i>icon</i> Messages</a>
                <a href="#"><i>icon</i> Purchases</a>
                <a href="#"><i>icon</i> Returns</a>
                <a href="#"><i>icon</i> Gallery</a>
                <a href="#"><i>icon</i> Analytics</a>
                <a href="#"><i>icon</i> Settings</a>
            </div>
            @* Home, profile, messages, purchases, returns, Gallery, Analytics, Settings *@
        </nav>
    </div>

    <main class="d-flex flex-column w-100">
        <div id="top-bar" class="d-flex justify-content-between ui-background ui-margin ui-br">
            <input type="text" class="w-100" id="search" placeholder="Search">
            <div id="profile-logo" class="circle-frame">
                <img src="https://placehold.co/400x400" alt="User Profile Image">
            </div>
        </div>
        <div class="position-relative ui-background ui-margin ui-br">

            <div id="hero-image-container" class="w-100 ">
                <img src="https://placehold.co/600x400" alt="Profile Hero Image" class="w-100">

            </div>
            <div>

                <div id="user-profile-image" class="circle-frame">
                    <img src="https://placehold.co/400x400" alt="User Profile Image">
                </div>
                <div id="user-info" class="">
                    <div id="username"> @Model.FullName</div>
                    <div id="user-title">[User title]</div>
                </div>
            </div>
            <header>
                <div id="header-actions-bar" class="d-flex justify-content-end mr-ui ">

                    <div id="profile-actions">
                        <button>comments</button>
                        <button>Follow</button>
                        <button>Schedule a meeting</button>

                    </div>
                </div>

            </header>
        </div>


        <div id="main-content" class="d-flex w-100">
            <div id="about" class="d-flex flex-column align-items-center w-25 ui-background ui-margin ui-br" style="margin-right: 0;">
                <header>About Section</header>


                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.UserProfileId)
                    </dt>
                    <dd class="col-sm-9">
                        @Model.UserProfileId
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-9">
                        @Model.FullName
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-9">
                        @Model.Email
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Model.PhoneNumber
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ImageUrl)
                    </dt>
                    <dd class="col-sm-9">
                        @Model.ImageUrl
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.GitHubUrl)
                    </dt>
                    <dd class="col-sm-9">
                        @Model.GitHubUrl
                    </dd>
                    <dt>Skilled Languages</dt>
                    <dd>
                        <ul>
                            @foreach (string languageSkill in Model.SkilledLanguages)
                            {
                                <li>@languageSkill</li>
                            }
                        </ul>
                    </dd>
                </dl>l
            </div>
            <div id="feed-container" class="flex-grow-1 d-flex flex-column align-items-center ui-background ui-margin ui-br">
                <div id="feed-header">
                    <button>Followers</button>
                    <button>Following</button>
                    <button>Posts</button>
                </div>
                <div id="feed">
                    Feed item
                </div>
            </div>
            <div id="profile-sidebar" class="d-flex flex-column align-items-center w-25 mr-ui x">
                <div id="you-might-know" class="sidebar-section ui-background w-100 ui-margin mb-0 ui-br">
                    <header>You might know</header>
                    user Profile card
                </div>
                <div id="active" class="sidebar-section ui-background w-100 ui-margin ui-br">
                    <header>Active</header>
                    user Profile card
                </div>
            </div>
        </div>

    </main>

</div>



